body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
    color: #333;
    transition: background 0.3s, color 0.3s;
}

header {
    background: #0073e6;
    color: white;
    padding: 20px;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    background: #0073e6;
    color: white;
    font-size: 16px;
}

.dark-mode {
    background-color: #333;
    color: white;
}